body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

.input-group {
    margin: 10px;
    text-align: left;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 5px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error-message {
    color: red;
    font-weight: bold;
}

.success-message {
    color: green;
    font-weight: bold;
}
